In [2]:
from localpacks.data import get_data
import xarray as xr

#### 1.1  Importamos nuestros datasets

In [3]:
#Rango de 2010 al 2018
df_2010 = get_data(year=2010, apply_format=True)
df_2011 = get_data(year=2011, apply_format=True)
df_2012 = get_data(year=2012, apply_format=True)
df_2013 = get_data(year=2013, apply_format=True)
df_2014 = get_data(year=2014, apply_format=True)
df_2015 = get_data(year=2015, apply_format=True)
df_2016 = get_data(year=2016, apply_format=True)
df_2017 = get_data(year=2017, apply_format=True)
df_2018 = get_data(year=2018, apply_format=True)

C:\Users\USUARIO\OneDrive\Documentos\3_gitHubProjects\CABA_MyT_BicicletasPublicas\notebooks\localpacks\data.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['TIEMPOUSO'] = df['TIEMPOUSO'].astype('int64', errors='ignore') * 60 #convertimos minutos(m) a segundos(s)

In [13]:
df_2018.head(3)

,usuario_id,origen_nombre,origen_id,destino_nombre,destino_id,usuario_genero,usario_edad,tiempo_uso(s)
bici_fecha_hora_retiro,,,,,,,,
2018-01-01 00:08:05,5453,Uruguay,45,Virrey Cevallos,183,M,45,1193
2018-01-01 00:18:05,673,Posadas,189,Guardia Vieja,110,M,61,1579
2018-01-01 00:20:14,179119,Hospital Rivadavia,50,Padilla,31,F,52,1659